/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
/* Custom Navmenu */

.navmenu-container {
  display: flex;
  width: 100%;
  max-width: $theme-max-width;
  justify-content: space-around;
  padding: 5rem $font-size-medium;
}

.navmenu {
  background: $theme-color-dark-1;
  display: flex;
  justify-content: space-between;
  visibility: hidden;
  height: 0vh;
  transition: all 0.2s;
  h3 {
    font-size: $font-size-large;
    color: $theme-color-white;
  }
  .content {
    @media only screen and (max-width: $bp-small) {
      display: none;
    }
  }
  p {
    color: $theme-color-grey-2;
    font-size: $font-size-small;
  }

  a {
    color: $theme-color-grey-3;
    text-decoration: none;
  }

  &.active {
    visibility: visible;
    height: 20vh;
    @media only screen and (max-width: $bp-small) {
      height: 20rem;
    }
  }

  .menu-list {
    font-size: $font-size-large;
    color: $theme-color-white;
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      color: $theme-color-white;
      margin-bottom: 0;
      font-size: $font-size-large;
      cursor: pointer;
      padding: 0;
      margin: 0;
      list-style: none;

      &:hover {
        transform: translateY(-0.3rem);
      }
      &:hover::after {
        transform: scale(1.5);
        opacity: 0;
      }
      &:active {
        transform: translateY(-0.1rem);
      }
      a {
        color: $theme-color-white;
        padding: $spacing-smallest 0 !important;
      }
      a:hover {
        text-decoration: none;
      }
    }
  }
}

/* Custom Navbar */
.header-navbar {
  display: flex;
  justify-content: center;

  .navbar-container {
    padding: $spacing-small;
    width: 100%;
    max-width: $theme-max-width;
    display: flex;
    justify-content: space-between;
    @include fadein-ani;
  }

  .navbar-brand {
    font-size: $font-size-largest;
    cursor: pointer;

    &:hover {
      transform: translateY(-0.3rem);
    }
    &:hover::after {
      transform: scale(1.5);
      opacity: 0;
    }
    &:active {
      transform: translateY(-0.1rem);
    }
  }
}

/* Burger */
.burger-menu {
  width: 2.8rem;
  height: 3.2rem;
  cursor: pointer;
  position: relative;
  &:before,
  & span,
  &:after {
    width: 100%;
    height: 2px;
    display: block;
    background: $theme-color-dark-2;
    border-radius: 2px;
    position: absolute;
    opacity: 1;
  }
  &:before,
  &:after {
    transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1),
      transform 0.35s cubic-bezier(0.23, 1, 0.32, 1),
      opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1),
      background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1),
      -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1),
      opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1),
      background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
    content: "";
  }
  &:before {
    top: 0.4rem;
  }
  &:after {
    top: 2.6rem;
  }
  span {
    top: 1.5rem;
  }
  /* Hover */
  &:hover:before {
    top: 0.7rem;
  }

  &:hover:after {
    top: 2.3rem;
  }
  /* Click */
  &.active span {
    opacity: 0;
  }
  &.active:before,
  &.active:after {
    top: 40%;
  }

  &.active:before {
    transform: rotate(45deg);
  }

  &.active:after {
    transform: rotate(-45deg);
  }

  &:focus {
    outline: none;
  }
}

/*--------------------------------------------------------------
  # Login
  --------------------------------------------------------------*/
.login-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.login-content {
  width: 100%;
  max-width: $theme-max-width;
  padding: $spacing-top $spacing-small;
  @include fadein-ani;
  .login-title {
    font-size: $font-size-largest;
  }
  .login-sub-title {
    width: 40%;
    margin-top: $spacing-medium;
    font-size: $font-size-small;
  }
  .login-form {
    font-size: 150%;
  }
}

/*--------------------------------------------------------------
  # Register
  --------------------------------------------------------------*/
.regiser-container {
  display: flex;
  justify-content: center;
}
.register-content {
  width: 100%;
  max-width: $theme-max-width;
  padding: $spacing-top $spacing-small;
  @include fadein-ani;

  .register-title {
    font-size: $font-size-largest;
  }

  .register-sub-title {
    width: 40%;
    margin-top: $spacing-medium;
    font-size: $font-size-small;
  }
  .register-form {
    font-size: 150%;
  }
}

/*--------------------------------------------------------------
  # Portfolio
  --------------------------------------------------------------*/

.portfolio-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.portfolio-content {
  background-color: white;

  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $theme-max-width;
  padding: $spacing-top 0rem;
  @include fadein-ani;

  .title-container {
    padding: 1.8rem;
    margin-bottom: $spacing-largest;
    .portfolio-title {
      font-size: $font-size-largest;
    }
    .portfolio-sub-title {
      width: 40%;
      margin-top: $spacing-medium;
      font-size: $font-size-small;
    }
  }
}

.user-container {
  width: 100%;
  display: flex;
  margin-bottom: $spacing-largest;
}

.single-user-item-box {
  .item-wrap {
    display: flex;
    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
      align-items: center;
    }
  }
  .item-img-contaienr {
    @media only screen and (max-width: $bp-medium) {
      display: flex;
      justify-content: center;
    }
  }
  .item-img {
    padding: 0 $spacing-small;
    width: 55rem;
    max-width: 100%;
    display: flex;
    margin-right: $spacing-largest;
    @media only screen and (max-width: $bp-medium) {
      width: 80%;
      margin-bottom: $spacing-large;
    }
  }
}

.single-user-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 $spacing-medium;
  width: 50%;
  @media only screen and (max-width: $bp-medium) {
    width: 80%;
    & > * {
      margin-bottom: $spacing-large;
    }
  }
  .user-name {
    font-size: 2.3rem;
  }
  .user-email {
    font-size: $font-size-medium;
  }
  .user-description {
    font-size: $font-size-small;
    width: 90%;
  }
}

.edit-button {
  margin-top: $spacing-medium;
  display: flex;
  justify-content: center;
  width: 10rem;
  background-color: $theme-color-white;
  border: 1px solid $theme-color-dark-2;
  padding: $spacing-medium 0rem;
  font-size: $font-size-small;
  text-transform: uppercase;
  color: $theme-color-dark-2;
  transition: 0.2s all ease;
  font-weight: 700;
}
.edit-button:hover {
  background-color: $theme-color-dark-2;
  color: $theme-color-white;
}
/* Like-button */
.like-container {
  display: flex;
}

/* Like-card */
.like-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  margin-right: $spacing-large;

  .like-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    &.animated {
      -webkit-animation: pop 0.9s both;
      animation: pop 0.9s both;
    }
    svg {
      width: 3.5rem;
      height: 3.5rem;
      opacity: 1;
    }
    svg path {
      fill: #333;
      transition: fill 0.4s ease-out;
    }
    &.active svg path {
      fill: #085ed6;
    }

    &:active {
      transform: translateY(0.2rem);
    }
  }
  .like-count {
    font-size: $font-size-small;
  }
}
/* Like-list */
.like-list-container {
  font-size: $font-size-large;

  li:not(hr) {
    list-style: none;
    margin-left: $spacing-medium;
    margin-right: $spacing-medium;
  }
  .like-list-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: $spacing-top;
    background-color: $theme-color-white;
    border: 1px solid $theme-color-dark-2;
    font-size: $font-size-small;
    text-transform: uppercase;
    color: $theme-color-dark-2;
    transition: 0.2s all ease;
    font-weight: 700;
  }

  .like-list-button:hover {
    background-color: $theme-color-dark-2;
    color: $theme-color-white;
  }
}

/*--------------------------------------------------------------
  # mvp
  --------------------------------------------------------------*/
.mvps-container {
  display: flex;
  flex-wrap: wrap;
}
.mvp-container {
  width: 50%;
  padding: $spacing-small;

  @media only screen and (max-width: $bp-medium) {
    width: 100%;
  }
}
.mvp-content {
  overflow: scroll;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $theme-color-grey-4;
  padding: 3rem;
  @media only screen and (max-width: $bp-medium) {
    height: 30rem;
  }
  .mvp-title {
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
  }
  .mvp-content-detail {
    display: flex;
    justify-content: space-between;
  }
  .mvp-info .title {
    font-size: $font-size-large;
    margin-left: $spacing-smallest;
  }

  .mvp-info .sub-title {
    font-size: $font-size-smallest;
    margin-left: $spacing-medium;
  }
  .mvp-edit-button {
    @include mvp-button(#085ed6);
    margin-right: $spacing-smallest;
  }

  .mvp-delete-button {
    @include mvp-button(#eb5462);
  }
  .mvp-management {
    display: flex;

    button:hover {
      transform: translateY(-0.3rem);
    }
    button::after {
      transform: scale(1.5);
      opacity: 0;
    }
    button:active {
      transform: translateY(-0.1rem);
    }
  }
}

/*--------------------------------------------------------------
  # Network
  --------------------------------------------------------------*/
.network-container {
  display: flex;
  justify-content: center;
}
.network-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: $theme-max-width;
  margin-bottom: $spacing-largest;
  @include fadein-ani;
  .title-container {
    width: 100%;
    padding: $spacing-small;
  }
  .network-title {
    font-size: $font-size-largest;
  }
  .network-sub-title {
    width: 40%;
    margin-top: $spacing-medium;
    font-size: $font-size-small;
  }
}

/*  usercard  */
.usercard-container {
  width: 100%;
}
.usercard-content {
  display: flex;

  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  .item-box {
    border: none;
    padding: $spacing-small;
    width: 33%;
    @media only screen and (max-width: $bp-smallest) {
      width: 50%;
      margin-bottom: $spacing-largest;
    }
  }

  .item-wrap {
    display: block;

    position: relative;
    overflow: hidden;
    transition: 0.3s;
    &:hover {
      transform: translateY(-0.4rem);
    }
    &:active {
      transform: translateY(-0.1rem);
    }

    &:hover > .network-item-info {
      transform: translateY(-50%);
      visibility: visible;
    }

    &:hover > .item-img {
      transform: scale(1.05);
      filter: brightness(70%);
    }

    .network-item-info {
      width: 100%;
      position: absolute;
      top: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 3;
      color: $theme-color-white;
      visibility: hidden;
      transition: 0.5s transform ease;

      @media only screen and (max-width: $bp-largest) {
        align-items: flex-start;
      }
      .user-title {
        font-size: $font-size-large;
        width: 70%;
        text-align: center;
      }
      .user-email {
        width: 70%;
        text-align: center;
        font-size: $font-size-small;
      }

      .user-descriptiom {
        border: none;
        text-align: center;
        width: 70%;
        font-size: $font-size-smallest;
      }
    }

    .item-img {
      width: 40rem;
      height: 40rem;
      max-width: 100%;
      @media only screen and (max-width: $bp-largest) {
        width: 30rem;
        height: 30rem;
      }

      @media only screen and (max-width: $bp-medium) {
        width: 25rem;
        height: 25rem;
      }
      @media only screen and (max-width: $bp-smallest) {
        width: 30rem;
        height: 30rem;
      }
      transition: 0.3s transform ease;
      transform: scale(1);
      filter: brightness(100%);
    }
  }
}

.bookmark-button {
  font-size: $font-size-largest;
  color: #0d1e2d;
  border: none;
  background-color: transparent;
  margin-right: $spacing-small;
}
