@import url("https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i");

/*--------------------------------------------------------------
# base
--------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body > * {
  font-family: "Inconsolata", monospace;
  color: #0d1e2d;
}

a > * {
  color: #777;
  text-decoration: none;
}

a:hover {
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-heading {
  font-family: "Raleway", sans-serif;
}

.section {
  padding: 6rem 0;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
/* Custom Navmenu */

.navmenu {
  background: #0d1e2d;
  display: flex;
  justify-content: center;
  visibility: hidden;
  height: 0vh;
  transition: all 0.2s;
}

.navmenu.active {
  visibility: visible;
  height: 25vh;
}

.navmenu-container {
  display: flex;
  max-width: 1320px;
  justify-content: space-between;
  padding: 5rem 1.8rem;
}

.navmenu .menu-list,
.navmenu .menu-list li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navmenu .menu-list li {
  color: #fff;
  margin-bottom: 0;
  font-size: 2rem;
  cursor: pointer;
}

.menu-list li:hover {
  transform: translateY(-0.3rem);
}
.menu-list li:hover::after {
  transform: scale(1.5);
  opacity: 0;
}
.menu-list li:active {
  transform: translateY(-0.1rem);
}

.navmenu .menu-list li a {
  color: #fff;
  padding: 1rem 0 !important;
}

.navmenu .menu-list li a:hover {
  text-decoration: none;
}

.navmenu .menu-list li.active a {
  text-decoration: underline;
}

.navmenu h3 {
  font-size: 2rem;
  color: #fff;
}
.navmenu .content {
  width: 40%;
}

.navmenu p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
}

.navmenu a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.navmenu a:hover {
  color: #fff;
}

/* Custom Navbar */
.header-navbar {
  display: flex;
  justify-content: center;
}

.header-navbar .navbar-container {
  padding: 1.8rem;
  width: 100%;
  max-width: 1320px;
  display: flex;
  justify-content: space-between;
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
}
.header-navbar .navbar-brand {
  font-size: 3.2rem;
  cursor: pointer;
}
.navbar-brand:hover {
  transform: translateY(-0.3rem);
}
.navbar-brand:hover::after {
  transform: scale(1.5);
  opacity: 0;
}
.navbar-brand:active {
  transform: translateY(-0.1rem);
}

/* Burger */
.burger-menu {
  width: 2.8rem;
  height: 32px;
  cursor: pointer;
  position: relative;
}

.burger-menu:before,
.burger-menu span,
.burger-menu:after {
  width: 100%;
  height: 2px;
  display: block;
  background: #000;
  border-radius: 2px;
  position: absolute;
  opacity: 1;
}

.burger-menu:before,
.burger-menu:after {
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1),
    transform 0.35s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1),
    background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1),
    -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1),
    background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  content: "";
}

.burger-menu:before {
  top: 4px;
}

.burger-menu span {
  top: 15px;
}

.burger-menu:after {
  top: 26px;
}

/* Hover */
.burger-menu:hover:before {
  top: 7px;
}

.burger-menu:hover:after {
  top: 23px;
}

/* Click */
.burger-menu.active span {
  opacity: 0;
}

.burger-menu.active:before,
.burger-menu.active:after {
  top: 40%;
}

.burger-menu.active:before {
  transform: rotate(45deg);
}

.burger-menu.active:after {
  transform: rotate(-45deg);
}

.burger-menu:focus {
  outline: none;
}

/*--------------------------------------------------------------
# Login
--------------------------------------------------------------*/
.login-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.login-content {
  width: 100%;
  max-width: 1320px;
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
  padding: 6rem 1.8rem;
}

.login-title {
  font-size: 3rem;
}

.login-sub-title {
  width: 40%;
  margin-top: 2rem;
  font-size: 1.5rem;
}
.login-form {
  font-size: 150%;
}

/*--------------------------------------------------------------
# Register
--------------------------------------------------------------*/
.regiser-container {
  display: flex;
  justify-content: center;
}
.register-content {
  width: 100%;
  max-width: 1320px;
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
  padding: 6rem 1.8rem;
}

.register-title {
  font-size: 3rem;
}

.register-sub-title {
  width: 40%;
  margin-top: 2rem;
  font-size: 1.5rem;
}
.register-form {
  font-size: 150%;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

.portfolio-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.portfolio-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1320px;
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
  padding: 6rem 0rem;
}
.portfolio-content .title-container {
  padding: 1.8rem;
}
.portfolio-title {
  font-size: 3rem;
}

.portfolio-sub-title {
  width: 40%;
  margin-top: 2rem;
  font-size: 1.5rem;
}
.title-container {
  margin-bottom: 4rem;
}
.user-container {
  width: 100%;
  display: flex;

  margin-bottom: 4rem;
}

.singlepage-item-box .item-wrap {
  display: flex;
}
.singlepage-item-box .item-img {
  padding: 0 1.8rem;
  width: 55rem;
  max-width: 100%;
  display: flex;
  margin-right: 4rem;
}
.single-user-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2rem;
  width: 50%;
}
.single-user-item-info .user-name {
  font-size: 2.3rem;
}
.single-user-item-info .user-email {
  font-size: 1.8rem;
}
.single-user-item-info .user-description {
  font-size: 1.5rem;
  width: 90%;
}
.skill-title {
  font-size: 2.2rem;
}
.skill-list li {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  list-style: none;
}
.skill-list > * {
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px;
}
.skill-list li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 1rem;
  width: 10px;
  height: 2px;
  background: #000;
}
.edit-button {
  display: inline-block;
  width: 10rem;
  background-color: #fff;
  border: 1px solid #000;
  padding: 10px 15px;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #000;
  transition: 0.2s all ease;
  font-weight: 700;
}
.edit-button:hover {
  background-color: #000;
  color: #fff;
}
/* Like-button */
.like-container {
  padding: 0 1.8rem;
  display: flex;
}
.like-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
}
.like-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
}

.like-button.animated {
  -webkit-animation: pop 0.9s both;
  animation: pop 0.9s both;
}
.like-button svg {
  width: 3.5rem;
  height: 3.5rem;
  opacity: 1;
}
.like-button svg path {
  fill: #333;
  transition: fill 0.4s ease-out;
}
.like-button.active svg path {
  fill: #085ed6;
}

.like-button:active {
  transform: translateY(0.2rem);
}
.like-count {
  font-size: 1.5rem;
}
.like-list-container {
  font-size: 2rem;
}
.like-list li:not(hr) {
  list-style: none;
  margin-left: 20px;
  margin-right: 20px;
}

.like-list-button {
  display: inline-block;
  width: 10rem;
  background-color: #fff;
  border: 1px solid #000;
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #000;
  transition: 0.2s all ease;
  font-weight: 700;
}

.like-list-button:hover {
  background-color: #000;
  color: #fff;
}

/*--------------------------------------------------------------
# mvp
--------------------------------------------------------------*/
.mvps-container {
  display: flex;
  flex-wrap: wrap;
}
.mvp-content {
  width: 50%;
  padding: 1.8rem;
}
.mvp-container {
  overflow: scroll;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #eceff2;
  padding: 3rem;
}
.mvp-title {
  font-size: 3rem;
  letter-spacing: 0.3rem;
}
.mvp-content-detail {
  display: flex;
  justify-content: space-between;
}
.mvp-info .title {
  font-size: 2.2rem;
  margin-left: 1rem;
}

.mvp-info .sub-title {
  font-size: 1.5rem;
  margin-left: 2rem;
}
.mvp-edit-button {
  display: inline-block;
  width: 5rem;
  background-color: #085ed6;
  border: none;
  border-radius: 1.5rem;
  padding: 0.6rem 0.7rem;
  font-size: 1remx;
  text-transform: uppercase;
  color: #fff;
  margin-right: 1.5rem;
}

.mvp-delete-button {
  display: inline-block;
  width: 5rem;
  background-color: #eb5462;
  border: none;
  border-radius: 1.5rem;
  padding: 0.6rem 0.7rem;
  font-size: 1remx;
  text-transform: uppercase;
  color: #fff;
  margin-right: 1.5rem;
}
.mvp-management button:hover {
  transform: translateY(-0.3rem);
}
.mvp-management button::after {
  transform: scale(1.5);
  opacity: 0;
}
.mvp-management button:active {
  transform: translateY(-0.1rem);
}
/*--------------------------------------------------------------
# Network
--------------------------------------------------------------*/
.network-container {
  display: flex;
  justify-content: center;
}
.network-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1320px;
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
  margin-bottom: 4rem;
}
.network-content .title-container {
  width: 100%;
  padding: 1.8rem;
}
.network-title {
  font-size: 3rem;
}

.network-sub-title {
  width: 40%;
  margin-top: 2rem;
  font-size: 1.5rem;
}
/*  usercard  */
.usercard-container {
  width: 100%;
}
.usercard {
  display: flex;

  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.item-box {
  border: none;
  padding: 1.8rem;
  width: 33%;
}

.item-wrap {
  display: block;

  position: relative;
  overflow: hidden;
  transition: 0.3s;
}
.item-wrap:hover {
  transform: translateY(-0.4rem);
}
.item-wrap:active {
  transform: translateY(-0.1rem);
}
.network-item-info {
  width: 100%;
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  color: #fff;
  visibility: hidden;
  transition: 0.3s transform ease;
}
.network-item-info .user-title {
  font-size: 2rem;
  top: 0;
  bottom: 0;
}
.network-item-info .user-email {
  font-size: 1.5rem;
}

.network-item-info .user-descriptiom {
  border: none;
  text-align: center;
  width: 70%;
  font-size: 1.3rem;
}

.item-wrap:hover > .network-item-info {
  transform: translateY(-50%);
  visibility: visible;
}
.item-img-style {
  width: 40rem;
  height: 40rem;
  max-width: 100%;

  transition: 0.3s transform ease;
  transform: scale(1);
  filter: brightness(100%);
}

.item-wrap:hover > .item-img-style {
  transform: scale(1.05);
  filter: brightness(70%);
}

/*--------------------------------------------------------------
# animation
--------------------------------------------------------------*/
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pop {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
